In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress
from pprint import pprint
import csv

# Imported API Key
from keys import covid

In [3]:
# List of states query url to retrieve data for both
#counties = ['Los Angeles County','Travis County','New York County']
counties = ['06037','48015','36061']

query_county = 'https://api.covidactnow.org/v2/county/{counties}.timeseries.json?apiKey={covid}'

In [4]:
# Los Angeles
headers = {
        'Accept': 'application/json',
        'content-Type': 'application/json'
}
response = requests.get(f"https://api.covidactnow.org/v2/county/{counties[0]}.timeseries.json?apiKey={covid}", headers=headers, data={})
myjson = response.json()

In [5]:
# Extracting specified data from json file for Los Angeles

la_cases_per_date = []
la_dates = []
la_deaths = []

la = myjson['actualsTimeseries']

for i in range(len(la)):
       la_cases_per_date.append(la[i]['cases'])
       la_dates.append(la[i]['date'])
       la_deaths.append(la[i]['deaths'])

In [6]:
# Coverted to datetime to be able manipulate data as needed for Los Angeles
la_df = pd.DataFrame({'Date':la_dates,
                        'Total Cases to Date':la_cases_per_date,
                            'Deaths':la_deaths})

la_df['Date'] = pd.to_datetime(la_df['Date'])
la_df.head()

        Date  Total Cases to Date  Deaths
0 2020-01-05                  NaN     NaN
1 2020-01-26                  1.0     0.0
2 2020-01-27                  1.0     0.0
3 2020-01-28                  1.0     0.0
4 2020-01-29                  1.0     0.0

In [25]:
# Grouped data by the month with the max number of cases and deaths per for California
los_angeles_df = pd.DataFrame(la_df.groupby(pd.Grouper(key='Date', freq='M')).max())

los_angeles_df2 = los_angeles_df.reset_index()

los_angeles_df2['Date'] = los_angeles_df2['Date'].dt.strftime('%Y-%m')

los_angeles_df2.head()

      Date  Total Cases to Date  Deaths
0  2020-01                  1.0     0.0
1  2020-02                  1.0     0.0
2  2020-03               3011.0    54.0
3  2020-04              23182.0  1111.0
4  2020-05              54996.0  2362.0

In [8]:
# Austin
headers = {
        'Accept': 'application/json',
        'content-Type': 'application/json'
}
response = requests.get(f"https://api.covidactnow.org/v2/county/{counties[1]}.timeseries.json?apiKey={covid}", headers=headers, data={})
myjson = response.json()

In [9]:
# Extracting specified data from json file for Austin

au_cases_per_date = []
au_dates = []
au_deaths = []

au = myjson['actualsTimeseries']

for i in range(len(au)):
       au_cases_per_date.append(au[i]['cases'])
       au_dates.append(au[i]['date'])
       au_deaths.append(au[i]['deaths'])

In [10]:
# Coverted to datetime to be able manipulate data as needed for Los Angeles
au_df = pd.DataFrame({'Date':au_dates,
                        'Total Cases to Date':au_cases_per_date,
                            'Deaths':au_deaths})

au_df['Date'] = pd.to_datetime(au_df['Date'])
au_df.head()

        Date  Total Cases to Date  Deaths
0 2020-03-17                  NaN     NaN
1 2020-03-18                  NaN     NaN
2 2020-03-19                  NaN     NaN
3 2020-03-20                  NaN     NaN
4 2020-03-21                  NaN     NaN

In [24]:
# Grouped data by the month with the max number of cases and deaths per for California
austin_df = pd.DataFrame(au_df.groupby(pd.Grouper(key='Date', freq='M')).max())

austin_df2 = austin_df.reset_index()

austin_df2['Date'] = austin_df2['Date'].dt.strftime('%Y-%m')

austin_df2.head()

      Date  Total Cases to Date  Deaths
0  2020-03                  2.0     0.0
1  2020-04                 13.0     0.0
2  2020-05                 26.0     0.0
3  2020-06                 71.0     0.0
4  2020-07                212.0     5.0

In [12]:
# New York
headers = {
        'Accept': 'application/json',
        'content-Type': 'application/json'
}
response = requests.get(f"https://api.covidactnow.org/v2/county/{counties[2]}.timeseries.json?apiKey={covid}", headers=headers, data={})
myjson = response.json()

In [13]:
# Extracting specified data from json file for Austin

ny_cases_per_date = []
ny_dates = []
ny_deaths = []

ny = myjson['actualsTimeseries']

for i in range(len(ny)):
       ny_cases_per_date.append(ny[i]['cases'])
       ny_dates.append(ny[i]['date'])
       ny_deaths.append(ny[i]['deaths'])

In [14]:
# Coverted to datetime to be able manipulate data as needed for Los Angeles
ny_df = pd.DataFrame({'Date':ny_dates,
                        'Total Cases to Date':ny_cases_per_date,
                            'Deaths':ny_deaths})

ny_df['Date'] = pd.to_datetime(ny_df['Date'])
ny_df.head()

        Date  Total Cases to Date  Deaths
0 2020-01-22                  0.0     0.0
1 2020-01-23                  0.0     0.0
2 2020-01-24                  0.0     0.0
3 2020-01-25                  0.0     0.0
4 2020-01-26                  0.0     0.0

In [23]:
# Grouped data by the month with the max number of cases and deaths per for California
new_york_df = pd.DataFrame(ny_df.groupby(pd.Grouper(key='Date', freq='M')).max())

new_york_df2 = new_york_df.reset_index()

new_york_df2['Date'] = new_york_df2['Date'].dt.strftime('%Y-%m')

new_york_df2.head()

      Date  Total Cases to Date  Deaths
0  2020-01                  0.0     0.0
1  2020-02                  0.0     0.0
2  2020-03               6539.0   129.0
3  2020-04              21920.0  2132.0
4  2020-05              26653.0  2912.0